root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,json,scss,css,html}]
indent_size = 2

# PHP PSR-1/2 Coding Standards
# https://www.php-fig.org/psr/psr-1/
# https://www.php-fig.org/psr/psr-2/
[*.php]
indent_size = 4

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
